// Place all the styles related to the urls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #fff;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  line-height: 15px;
}
